@model PiesListViewModel
@{
    ViewData["Title"] = "List";
}

<div class="col-sm-12 h2">@Model.CurrentCategory</div>

@foreach (var pie in Model.Pies)
{
    @Html.Partial("_PieOverviewSummary", pie)
}
